*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.922)),url(back2.jpg) ;
    background-size: cover;
    background-position: center;
}

nav{
    width: 96%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
}

.logo:hover{
    transform: translateY(-2px);
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav ul li::after{
    content: "";
    height: 4px;
    width: 0;
    background: #0065ad;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.15s;
}

nav ul li:hover::after{
    width: 100%;
}

.description{
    width: 100%;
    position:absolute;
    top: 50%;
    transform:translateY(-45%) ;
    text-align:left;
    color:white;
}

.description h1{
    font-size: 60px;
    margin-top: 80px;
    margin-left: 100px;
}

.description p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-left: 100px;
    font-style: italic;
}

.description h2{
    margin: 20px auto;
    font-weight: 1000;
    line-height: 25px;
    margin-left: 100px;
}

.description button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid gray;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 130px;
    display: inline;
}

.mainButton span{
    background: #043559;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.15s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

a{
    text-decoration: none;
    color: white;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.342),rgb(0, 0, 0)),url(background1.jpg);
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.container {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 8% 40px;
    padding: 50px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(backgif.gif);
    background-size:inherit;
    background-position:center;
    border-radius: 20px;
    
}
.container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color:azure;
}
p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color:white;
}

.background{
    background-image: url(back2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.home2{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.342),rgb(0, 0, 0)),url(back4.jpg);
    background-size: cover;
}

.card{
    width: 30%;
    background-color: rgb(0, 0, 0) ;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 3px 4px 10px black;
    display: inline-block;
}

.image img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.name{
    text-align: center;
    padding: 5px;
}

.name h2{
    color: white;
}

.disc{
    text-align: center;
    padding: 3px;
}

.disc button{
    width: 100px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 5px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid gray;
    background: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.disc button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.4s;
    cursor: pointer;
}


.card2{
    width: 30%;
    background-color: rgb(0, 0, 0) ;
    border-radius: 8px;
    margin-left: 150px;
    box-shadow: 3px 4px 10px black;
    display: inline-block;
}

.card3{
    width: 25%;
    background-color: rgb(0, 0, 0) ;
    border-radius: 8px;
    margin-left: 100px;
    margin-top: 120px;
    box-shadow: 3px 4px 10px black;
    display: inline-block;
}

.pattinson{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.651)),url(pattinson.jpg);
    background-size:110%;
    background-position:center;
}

.paragraph{
    width: 100%;
    position: absolute;
    color: white;
    top: 30%;
    text-align: left;
}

.paragraph h1{
    font-size: 60px;
    margin-top: 80px;
    margin-left: 100px;
}

.paragraph p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-left: 100px;
}

.paragraph h3{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-left: 100px;
}

.affleck{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.651)),url(affleck.jpg);
    background-size:100%;
    background-position:center;
}

.bale{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.651)),url(dark.jpg);
    background-size:100%;
    background-position:center;
}

.kilmer{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.651)),url(kilmer.jpg);
    background-size:100%;
    background-position:center;
}


.gotham{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.651)),url(gotham.jpg);
    background-size:100%;
    background-position:center;
    background-size: cover;
}

.adamwest{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.651)),url(adamwest_show.jpg);
    background-size:100%;
    background-position:center;
    background-size: cover;
}

.keaton{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.164),rgb(0, 0, 0)),url(mk_batman.jpg);
    background-size:100%;
    background-position:center;
    background-size: cover;
}



.pic {
    padding-top: 50px;
    margin-bottom: 5px;
    width: 100%;
    resize: vertical;
    text-align: center;
    font-size: 40px;
    color: white;
}


.cards {
    padding: 0;
    height: 300px;
    width: 45%;
    margin: 2%;
    float: left;
    padding-bottom: 50px;
    display:flex;
}

.blender img {
    width: 100%;
}

.blender img:hover{
    height: auto;
	box-shadow: 0px 0px 1px 2px #ffcece, 0px 0px 5px 3px #ff0000,
		0 0 1px 1px #ffcece inset, 0 0px 5px 3px #ff0000 inset;
	transition-duration: 0.2s;
}

.contact{
    position: relative;
    min-height: 50vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    color: white;
    font-size: 36px;
    font-weight: 500;
}

.contact .content p{
    color: white;
    font-weight: 300;
}

.content2{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.content2 .cInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content2 .cInfo .box{
    position: relative;
    padding: 10px 0 ;
    display: flex;
    color: white;
}

.content2 .cInfo .box .icons{
    min-width: 40px;
    height: 40px;
    background: rgb(95, 92, 92);
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
}

.content2 .cInfo .box .words{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.content2 .cInfo .box .words h3{
    font-weight: 900;
    color: #0c78c5;
    font-size: 25px;
}

.content2 .cInfo .box .words p{
    font-size: 15px;
}

.contact .content p{
    font-size: 18px;
}

.contact .content h2{
    color: #0c78c5;
    font-weight: 800;
}

.form{
    width: 40%;
    padding: 40px;
    background: #ffffff;
    border-radius: 8px;
}

.form h2{
    font-size: 30px;
    color: #09568d;
}

.form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.form .inputBox input,
.form .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #09568d;
    outline: none;
    resize: none;
}

.form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.1s;
    color: #66666688;
}

.form .inputBox input:focus ~ span,
.form .inputBox input:valid ~ span,
.form .inputBox textarea:focus ~ span,
.form .inputBox textarea:valid ~ span{
    color: #09568d;
    font-size: 12px;
    transform: translateY(-20px);
}

.form .inputBox input[type="submit"]{
    width: 100px;
    background: #0a5c979c;
    color: #09568d;
    cursor: pointer;
    padding: 10px;
    font-size: 19px;
}


@media (max-width: 991px)
{
    .contact{
        padding:40px;
    }

    .content2{
        flex-direction: column;
    }

    .pic{
        font-size: 20px;
    }

   

}


.experience{
    width: 900px;
    height: 400px;
    justify-content: center;
    display: flex;
    margin-top: 48px;
    margin-left: 240px;
    
}

.exp1{
    width: 300px;
    height: 400px;
    margin: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgb(0, 0, 0)),url(gray.jpg);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.exp1:hover{
	box-shadow: 0px 0px 1px 2px #ffcece, 0px 0px 5px 3px #0044ff,
		0 0 1px 1px #ffcece inset, 0 0px 5px 3px #00a2ff inset;
	transition-duration: 0.2s;

}

.exp1 h2{
    color: white;
    margin-bottom: 18px;
}


.exp1 img{
    width:300px;
    height: 200px;
}


.siteReport{
    margin-top: 5vh;
    align-items: center;
    width: 97%;
    display: inline;

}

.siteReport .report{
    text-align: center;
    margin-top: 20px;
}


.siteReport p{
    text-align: center;
    margin-left:38px;
    background-color: #444444;
    width:95%;
}

.imgColumn1{
    display: inline-block;
    text-align: center;
    padding-top: 25px;
    width: 98%;
    margin-left: 13.5px;
    background-color: #444444;
    padding-bottom: 40px;
}

.imgColumn1 img{
    width:48%;
    padding: 0;
    display: inline-block;
}

.siteReport .ps p{
    width:40%;
    font-size: 10px;
    background-color: #44444400;
    text-align: left;

}

.siteReport .report h2{
    text-align: left;
    padding-top: 10px;
    width: 95%;
    background-color: #444444;
    margin-left: 38px;
    color: white;
    padding-bottom: 10px;
    

}

